[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/cryptoauthlib"]
	path = third_party/cryptoauthlib
	url = https://github.com/MicrochipTech/cryptoauthlib.git
[submodule "examples/espressif/iot-device-sdk-embedded-c"]
	path = examples/espressif/iot-device-sdk-embedded-c
	url = git@github.com:GoogleCloudPlatform/iot-device-sdk-embedded-c.git
